# Q2_PART TWO
### • Use 'employee_compensation' data set.
### • Data contains fiscal and calendar year information. Same employee details exist twice in the dataset. Filter data by calendar year and find average salary (you might have to find average for each of the columns for every employee. Eg. Average of Total Benefits, Average of total compensation etc.) for every employee.
### • Now, find the people whose overtime salary is greater than 5% of salaries (salaries refers to ’Salaries' column)
### • For each ‘Job Family’ these people are associated with, calculate the percentage of total benefits with respect to total compensation (so for each job family you have to calculate average total benefits and average total compensation). Create a new column to hold the percentage value.
### • Display the top 5 Job Families according to this percentage value using df.head().
### • Write the output (jobs and percentage value) to a csv

In [1]:
import pandas as pd
from pandas import DataFrame

In [9]:
# read raw data
raw_data = pd.read_csv('Data/employee_compensation.csv')
raw_data.head(6)

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68
5,Calendar,2016,2,"Public Works, Transportation & Commerce",DBI,Department of Building Inspection,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",...,23930,80207.24,2232.53,1568.00,84007.77,15064.98,13890.29,6888.51,35843.78,119851.55

In [10]:
# filter raw data by Calendar
raw_data = raw_data[raw_data['Year Type']=='Calendar']
raw_data.head(6)

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
5,Calendar,2016,2,"Public Works, Transportation & Commerce",DBI,Department of Building Inspection,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",...,23930,80207.24,2232.53,1568.00,84007.77,15064.98,13890.29,6888.51,35843.78,119851.55
7,Calendar,2014,6,General Administration & Finance,ADM,General Services Agency - City Admin,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,38054,24180.00,0.00,0.00,24180.00,1490.20,8586.13,1880.37,11956.70,36136.70
8,Calendar,2015,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,790.0,"SEIU - Miscellaneous, Local 1021",2700,Housekeeping & Laundry,...,55117,56531.00,0.00,7288.42,63819.42,12650.47,12424.50,5219.56,30294.53,94113.95

In [11]:
# to keep the columns that we need
raw_data = raw_data[['Job Family', 'Employee Identifier' , 'Salaries', 'Overtime', 'Total Benefits', 'Total Compensation']]
raw_data.head(6)

,Job Family,Employee Identifier,Salaries,Overtime,Total Benefits,Total Compensation
0,Journeyman Trade,52206,98528.52,0.00,41432.55,143916.66
2,Management,33958,200.00,0.00,67.28,267.28
3,Legal & Court,33073,1783.00,0.00,736.13,2519.13
5,"Clerical, Secretarial & Steno",23930,80207.24,2232.53,35843.78,119851.55
7,Public Service Aide,38054,24180.00,0.00,11956.70,36136.70
8,Housekeeping & Laundry,55117,56531.00,0.00,30294.53,94113.95

In [15]:
# to calculate the average of ever person by grouping
raw_mean = raw_data.groupby(['Job Family', 'Employee Identifier'],as_index=False).mean()
raw_mean.head(6)

,Job Family,Employee Identifier,Salaries,Overtime,Total Benefits,Total Compensation
0,Administrative & Mgmt (Unrep),2321,291241.175000,0.0,89270.9525,380512.127500
1,Administrative & Mgmt (Unrep),4800,14463.000000,0.0,6037.4200,20500.420000
2,Administrative & Mgmt (Unrep),5547,205073.100000,0.0,78468.9200,283542.020000
3,Administrative & Mgmt (Unrep),5662,128370.200000,0.0,31723.2200,160093.420000
4,Administrative & Mgmt (Unrep),8493,53658.000000,0.0,20951.1100,74609.110000
5,Administrative & Mgmt (Unrep),12437,462348.813333,0.0,127695.8200,590044.633333

In [16]:
# to find the people whose overtime salary is greater than 5% of salaries 
raw_overtime = raw_mean[raw_mean['Overtime'] > raw_mean['Salaries'] *0.05]
raw_overtime.head(6)

,Job Family,Employee Identifier,Salaries,Overtime,Total Benefits,Total Compensation
90,Administrative-Labor & Trades,5727,123810.357500,32152.767500,49004.257500,236983.73
92,Administrative-Labor & Trades,8353,66924.405000,59010.010000,30076.515000,167640.23
93,Administrative-Labor & Trades,10523,51481.530000,21225.330000,23231.410000,128672.34
97,Administrative-Labor & Trades,13187,55484.000000,9646.680000,18306.030000,95239.71
101,Administrative-Labor & Trades,16350,38002.000000,4257.900000,14294.510000,56554.41
104,Administrative-Labor & Trades,19735,107773.343333,22672.486667,46004.433333,216671.62

In [17]:
# delete the unnecessary columns
raw_overtime2 = raw_overtime[['Job Family', 'Total Benefits', 'Total Compensation']]
raw_overtime2.head(6)

                        Job Family  Total Benefits  Total Compensation
90   Administrative-Labor & Trades    49004.257500           236983.73
92   Administrative-Labor & Trades    30076.515000           167640.23
93   Administrative-Labor & Trades    23231.410000           128672.34
97   Administrative-Labor & Trades    18306.030000            95239.71
101  Administrative-Labor & Trades    14294.510000            56554.41
104  Administrative-Labor & Trades    46004.433333           216671.62

In [19]:
# to group by job family
raw_JF = raw_overtime2.groupby(['Job Family'],as_index= False).mean()
raw_JF.head(6)

                       Job Family  Total Benefits  Total Compensation
0   Administrative-Labor & Trades    35398.450119       162831.632560
1      Agriculture & Horticulture    27886.590323        94075.711769
2               Airport Operation    33661.152255       122059.011671
3   Budget, Admn & Stats Analysis    22721.521375        79834.029938
4   Clerical, Secretarial & Steno     7166.984747        24424.693281
5  Computer Operatns & Repro Svcs    18707.199288        62074.045587

In [25]:
# to calculate  the percentage of total benefits with respect to total compensation and sort
raw_JF['Percent_Total_Benefit'] = raw_JF['Total Benefits']/raw_JF['Total Compensation'] * 100
final_data = raw_JF.sort_values(by = 'Percent_Total_Benefit',ascending=False)

In [29]:
fianl_data.head(6)

,Job Family,Total Benefits,Total Compensation,Percent_Total_Benefit
34,Public Service Aide,12081.252503,34013.789743,35.518690
23,Park & Zoo,22168.769722,65363.664630,33.916045
9,Energy & Environment,14254.410000,43219.500000,32.981432
37,Revenue,15629.204089,47641.781767,32.805667
21,Museum & Cultural Affairs,27037.390000,83926.070000,32.215723
13,Housekeeping & Laundry,24222.125117,78212.259683,30.969729

In [32]:
# to output the result to a csv file
final_data.to_csv('Output/Q2_P2.csv',index = False,header=True)