# Q2_PART ONE
### • Use 'employee_compensation' data set.
### • Find out the highest paid departments in each organization group by calculating mean of total compensation for every department.
### • Output should contain the organization group and the departments in each organization group with the total compensation from highest to lowest value.
### • Display a few rows of the output use df.head().
### • Generate a csv output.

In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
raw_data = pd.read_csv('Data/employee_compensation.csv')
raw_data.head(6)

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68
5,Calendar,2016,2,"Public Works, Transportation & Commerce",DBI,Department of Building Inspection,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",...,23930,80207.24,2232.53,1568.00,84007.77,15064.98,13890.29,6888.51,35843.78,119851.55

In [3]:
# to clean the data
raw_data = raw_data[['Organization Group','Department','Total Compensation']]
raw_data.head(6)

,Organization Group,Department,Total Compensation
0,"Public Works, Transportation & Commerce",Airport Commission,143916.66
1,Community Health,Public Health,107914.16
2,Human Welfare & Neighborhood Development,Department of the Status of Women,267.28
3,General Administration & Finance,Human Resources,2519.13
4,Culture & Recreation,Recreation and Park Commission,1726.68
5,"Public Works, Transportation & Commerce",Department of Building Inspection,119851.55

In [4]:
# to group by organization and department to get the mean 
raw_data2 = raw_data.groupby(['Organization Group','Department'],as_index=False).mean()
raw_data2.head(6)

     Organization Group           Department  Total Compensation
0      Community Health        Public Health        96190.190140
1  Culture & Recreation  Academy of Sciences       107319.727692
2  Culture & Recreation      Arts Commission        94339.597388
3  Culture & Recreation     Asian Art Museum        71401.520060
4  Culture & Recreation     Fine Arts Museum        44205.439895
5  Culture & Recreation          Law Library       188424.362222

In [8]:
final_data = raw_data2.sort_values(['Organization Group','Total Compensation'], ascending = False)
final_data.head(6)

,Organization Group,Department,Total Compensation
55,"Public Works, Transportation & Commerce",Port,112139.680017
46,"Public Works, Transportation & Commerce",Department of Building Inspection,112051.615182
54,"Public Works, Transportation & Commerce",PUC Water Department,109806.587567
53,"Public Works, Transportation & Commerce",PUC Wastewater Enterprise,108963.589786
47,"Public Works, Transportation & Commerce",Economic and Workforce Development,106112.409432
51,"Public Works, Transportation & Commerce",PUC Hetch Hetchy,105280.815330

In [9]:
# to output the result to a csv file
final_data.to_csv('Output/Q2_P1.csv',header = True,index=False)