# Q4_PART ONE
### • Use ‘movies_awards’ data set.
### • You are supposed to extract data from the awards column in this dataset and split it into several columns. An example is given below.
### • The awards has details of wins, nominations in general and also wins and nominations in certain categories(e.g. Oscar, BAFTA etc.)
### • You are supposed to create a win and nominated column (these 2 columns contain total number of wins and nominations) and other columns that extract the number of wins and nominations for each category of award.
### • If a movie has 2 Oscar nominations and 4 Oscar won, the columns Oscar_Awards_Won should have value 4 and Oscar_Awards_Nominated should have value 2. You should also have a total won and nominated column which aggregates all the awards (won or nominated).
### • Create two separate columns for each award category (won and nominated).
### • Write your output to a csv file. (Sample output is given in next page)

In [34]:
import pandas as pd
from pandas import DataFrame

In [35]:
raw_data = pd.read_csv('Data/movies_awards.csv')
raw_data.head(6)

,totalSeasons,Plot,Rated,Response,Language,Title,Country,Writer,Metascore,imdbRating,...,Released,Actors,Year,Genre,Awards,Runtime,Type,Poster,imdbVotes,imdbID
0,none,NaN,NaN,True,English,Book of Love: The Definitive Reason Why Men Ar...,USA,Jeffrey W. Byrd; Eric George,NaN,6.6,...,14 Feb 2002,40 Glocc; Angelle Brooks; David Brown; Qadr Ca...,2002,Romance; Comedy,NaN,91 min,movie,NaN,79.0,tt0156376
1,none,NaN,NaN,True,Swedish,Anderssons älskarinna,Sweden,NaN,NaN,7.4,...,12 Feb 2001,Jakob Eklund; Ebba Forsberg; Örjan Landström; ...,2001,Drama,NaN,347 min,movie,NaN,34.0,tt0201374
2,none,NaN,NaN,True,English,Bad Blood,UK,Tony Marchant,NaN,5.6,...,11 Jan 2001,Emilia Fox; Serban Celea; Alex Jennings; Steve...,2001,NaN,NaN,NaN,movie,NaN,8.0,tt0207989
3,none,A historical classic drama in three acts; reto...,NaN,True,Portuguese,Who Are You?,Portugal,João Botelho; Almeida Garrett (play),NaN,6.1,...,23 Nov 2001,Patrícia Guerreiro; Suzana Borges; Rui Morisso...,2001,Drama; History,1 win & 2 nominations.,112 min,movie,http://ia.media-imdb.com/images/M/MV5BMTM1Mjdi...,189.0,tt0210930
4,none,A father (Williams) suspects his son (Jackson)...,R,True,English,Skeletons in the Closet,USA,Donna Powers; Wayne Powers,NaN,5.4,...,24 Jul 2001,Treat Williams; Linda Hamilton; Jonathan Jacks...,2001,Crime; Drama; Mystery,1 win.,100 min,movie,http://ia.media-imdb.com/images/M/MV5BMjA0NjA2...,603.0,tt0212513
5,none,Four perky; clueless cheerleaders from the Hap...,R,True,English,Cheerleader Ninjas,USA,Kevin Campbell,NaN,2.3,...,25 Nov 2003,Kira Reed Lorsch; Angela Brubaker; Jeff Nichol...,2002,Action; Comedy,1 nomination.,91 min,movie,http://ia.media-imdb.com/images/M/MV5BMjA3MTQ1...,881.0,tt0235280

In [36]:
# to clean the data
raw_data= raw_data[['imdbID','Awards']]
raw_data2 =raw_data.dropna()
raw_data2.head(6)

       imdbID                   Awards
3   tt0210930   1 win & 2 nominations.
4   tt0212513                   1 win.
5   tt0235280            1 nomination.
6   tt0240149  3 wins & 2 nominations.
7   tt0243904    1 win & 1 nomination.
11  tt0250224           5 nominations.

In [37]:
import re
# to calculate the number of wins,categories can be Oscar,BAFTA etc
def calculate_wins(categories,row):
    pattern = r'Won (\d+) '+ categories
    numbers = re.findall(pattern,row)
    if len(numbers) > 0:return numbers[0]
    else:return '0'

In [38]:
# to calculate the number of nominations,categories can be Oscar,BAFTA etc
def calculate_nominations(categories,row):
    pattern = r'Nominated for (\d+) '+ categories
    numbers = re.findall(pattern,row)
    if len(numbers) > 0:return numbers[0]
    else:return '0'

In [52]:
# to calculate the total win
def calculate_total_wins(row):
    pattern = r'(\d+) wins'
    total_wins = int(row['Oscar_Won'])+int(row['Golden_Globe_Won'])+int(row['BAFTA_Won'])+int(row['Prime_Won'])
    numbers = re.findall(pattern,row['Awards'])
    if len(numbers) > 0:return int(numbers[0])+ total_wins
    else: return total_wins

In [53]:
# to calculate the total nomination
def calculate_total_nominations(row):
    pattern = r'(\d+) nominations'
    total_nominations = int(row['Oscar_Nominated'])+int(row['Golden_Globe_Nominated'])+int(row['BAFTA_Nominated'])+int(row['Prime_Nominated'])
    numbers = re.findall(pattern,row['Awards'])
    if len(numbers) > 0:return int(numbers[0])+ total_nominations
    else: return total_nominations

In [41]:
# to find Oscar_won
raw_data2['Oscar_Won'] = raw_data2.apply(lambda x:calculate_wins('Oscar',x['Awards']),axis = 1)
raw_data2.head(6)

E:\Anaconda3\envs\NEUPython\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

       imdbID                   Awards Oscar_Won
3   tt0210930   1 win & 2 nominations.         0
4   tt0212513                   1 win.         0
5   tt0235280            1 nomination.         0
6   tt0240149  3 wins & 2 nominations.         0
7   tt0243904    1 win & 1 nomination.         0
11  tt0250224           5 nominations.         0

In [42]:
# to find Golden_Globe_Won
raw_data2['Golden_Globe_Won'] = raw_data2.apply(lambda x:calculate_wins('Golden',x['Awards']),axis = 1)
raw_data2.head(6)

E:\Anaconda3\envs\NEUPython\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

       imdbID                   Awards Oscar_Won Golden_Globe_Won
3   tt0210930   1 win & 2 nominations.         0                0
4   tt0212513                   1 win.         0                0
5   tt0235280            1 nomination.         0                0
6   tt0240149  3 wins & 2 nominations.         0                0
7   tt0243904    1 win & 1 nomination.         0                0
11  tt0250224           5 nominations.         0                0

In [43]:
# to find BAFTA_Won
raw_data2['BAFTA_Won'] = raw_data2.apply(lambda x:calculate_wins('BAFTA',x['Awards']),axis = 1)
raw_data2.head(6)

E:\Anaconda3\envs\NEUPython\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

       imdbID                   Awards Oscar_Won Golden_Globe_Won BAFTA_Won
3   tt0210930   1 win & 2 nominations.         0                0         0
4   tt0212513                   1 win.         0                0         0
5   tt0235280            1 nomination.         0                0         0
6   tt0240149  3 wins & 2 nominations.         0                0         0
7   tt0243904    1 win & 1 nomination.         0                0         0
11  tt0250224           5 nominations.         0                0         0

In [46]:
# to find Prime_Won
raw_data2['Prime_Won'] = raw_data2.apply(lambda x:calculate_wins('Prime',x['Awards']),axis = 1)
raw_data2.head(6)

E:\Anaconda3\envs\NEUPython\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,imdbID,Awards,Oscar_Won,Golden_Globe_Won,BAFTA_Won,Prime_Won
3,tt0210930,1 win & 2 nominations.,0,0,0,0
4,tt0212513,1 win.,0,0,0,0
5,tt0235280,1 nomination.,0,0,0,0
6,tt0240149,3 wins & 2 nominations.,0,0,0,0
7,tt0243904,1 win & 1 nomination.,0,0,0,0
11,tt0250224,5 nominations.,0,0,0,0

In [47]:
# to find Oscar_Nominated
raw_data2['Oscar_Nominated'] = raw_data2.apply(lambda x:calculate_nominations('Oscar',x['Awards']),axis = 1)
raw_data2.head(6)

E:\Anaconda3\envs\NEUPython\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,imdbID,Awards,Oscar_Won,Golden_Globe_Won,BAFTA_Won,Prime_Won,Oscar_Nominated
3,tt0210930,1 win & 2 nominations.,0,0,0,0,0
4,tt0212513,1 win.,0,0,0,0,0
5,tt0235280,1 nomination.,0,0,0,0,0
6,tt0240149,3 wins & 2 nominations.,0,0,0,0,0
7,tt0243904,1 win & 1 nomination.,0,0,0,0,0
11,tt0250224,5 nominations.,0,0,0,0,0

In [48]:
# to find Golden_Globe_Nominated
raw_data2['Golden_Globe_Nominated'] = raw_data2.apply(lambda x:calculate_nominations('Golden',x['Awards']),axis = 1)
raw_data2.head(6)

E:\Anaconda3\envs\NEUPython\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,imdbID,Awards,Oscar_Won,Golden_Globe_Won,BAFTA_Won,Prime_Won,Oscar_Nominated,Golden_Globe_Nominated
3,tt0210930,1 win & 2 nominations.,0,0,0,0,0,0
4,tt0212513,1 win.,0,0,0,0,0,0
5,tt0235280,1 nomination.,0,0,0,0,0,0
6,tt0240149,3 wins & 2 nominations.,0,0,0,0,0,0
7,tt0243904,1 win & 1 nomination.,0,0,0,0,0,0
11,tt0250224,5 nominations.,0,0,0,0,0,0

In [49]:
# to find BAFTA_Nominated
raw_data2['BAFTA_Nominated'] = raw_data2.apply(lambda x:calculate_nominations('BAFTA',x['Awards']),axis = 1)
raw_data2.head(6)

E:\Anaconda3\envs\NEUPython\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,imdbID,Awards,Oscar_Won,Golden_Globe_Won,BAFTA_Won,Prime_Won,Oscar_Nominated,Golden_Globe_Nominated,BAFTA_Nominated
3,tt0210930,1 win & 2 nominations.,0,0,0,0,0,0,0
4,tt0212513,1 win.,0,0,0,0,0,0,0
5,tt0235280,1 nomination.,0,0,0,0,0,0,0
6,tt0240149,3 wins & 2 nominations.,0,0,0,0,0,0,0
7,tt0243904,1 win & 1 nomination.,0,0,0,0,0,0,0
11,tt0250224,5 nominations.,0,0,0,0,0,0,0

In [50]:
# to find Prime_Nominated
raw_data2['Prime_Nominated'] = raw_data2.apply(lambda x:calculate_nominations('Prime',x['Awards']),axis = 1)
raw_data2.head(6)

E:\Anaconda3\envs\NEUPython\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,imdbID,Awards,Oscar_Won,Golden_Globe_Won,BAFTA_Won,Prime_Won,Oscar_Nominated,Golden_Globe_Nominated,BAFTA_Nominated,Prime_Nominated
3,tt0210930,1 win & 2 nominations.,0,0,0,0,0,0,0,0
4,tt0212513,1 win.,0,0,0,0,0,0,0,0
5,tt0235280,1 nomination.,0,0,0,0,0,0,0,0
6,tt0240149,3 wins & 2 nominations.,0,0,0,0,0,0,0,0
7,tt0243904,1 win & 1 nomination.,0,0,0,0,0,0,0,0
11,tt0250224,5 nominations.,0,0,0,0,0,0,0,0

In [54]:
# finally to calculate the total of won and Nominated seperately
raw_data2['Total_Wins'] = raw_data2.apply(calculate_total_wins,axis=1)

E:\Anaconda3\envs\NEUPython\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [55]:
raw_data2['Total_Nominations'] = raw_data2.apply(calculate_total_nominations,axis=1)

E:\Anaconda3\envs\NEUPython\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [57]:
raw_data2.head(7)

,imdbID,Awards,Oscar_Won,Golden_Globe_Won,BAFTA_Won,Prime_Won,Oscar_Nominated,Golden_Globe_Nominated,BAFTA_Nominated,Prime_Nominated,Total_Wins,Total_Nominations
3,tt0210930,1 win & 2 nominations.,0,0,0,0,0,0,0,0,0,2
4,tt0212513,1 win.,0,0,0,0,0,0,0,0,0,0
5,tt0235280,1 nomination.,0,0,0,0,0,0,0,0,0,0
6,tt0240149,3 wins & 2 nominations.,0,0,0,0,0,0,0,0,3,2
7,tt0243904,1 win & 1 nomination.,0,0,0,0,0,0,0,0,0,0
11,tt0250224,5 nominations.,0,0,0,0,0,0,0,0,0,5
13,tt0254099,2 wins & 5 nominations.,0,0,0,0,0,0,0,0,2,5

In [58]:
# output the result to a csv file
raw_data2.to_csv('Output/Q4_P1.csv',index=False,header=True)